
.banner {
  background: url('../Components/Assets/formacion-telematica.jpg') no-repeat center center/cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-title {
  font-size: 2.5rem;
  font-weight: 800px;
  color: #1a1a1a;
  margin-bottom: 10px;
  text-align: center;
}

.banner-subtitle {
  font-size: 1.1rem;
  color: #444;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}


.carousel-content {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
}

.carousel-content h1 {
  margin: 0 0 10px;
  font-size: 2rem;
}

.carousel-content input {
  padding: 10px 20px;
  font-size: 1rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.temario {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.temario span {
  text-align: center;
  font-weight: bold;
}

.temario small {
  display: block;
  font-weight: normal;
  font-size: 0.85rem;
}

.courses-container {
  padding: 40px 20px;
  max-width: 600px;
  margin: auto;
}

.course-card {
  background: #fff;
  display: flex;
  gap: 20px;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: transform 0.3s ease;
  text-align: center;

}

.course-card:hover {
  transform: translateY(-4px);
}

.course-card img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.course-info {
  flex: 1;
}

.course-info h2 {
  margin: 0 0 10px;
  font-size: 1.4rem;
}

.course-info p {
  margin: 5px 0;
}

.course-info button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #60a6d9;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.course-info button:hover {
  background-color: #4b90c2;
}

@media (max-width: 768px) {
  .course-card {
    flex-direction: column;
  }
  
  .course-card img {
    width: 100%;
  }
}


.pagination {
  text-align: center;
  padding: 20px;
}

.pagination button {
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: #60a6d9;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.pagination a {
  display: inline-block;
  margin: 0 6px;
  padding: 8px 14px;
  background: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
}

.pagination a.active {
  background: #60a6d9;
  color: white;
  font-weight: bold;
}

.pagination a:hover {
  background: #bbb;
}

.tutorias-container{
  margin-top: 0px;
}

.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar input{
    width: 500px;
    font-size: 20px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.titulo-tutoria{
  margin-left: 50px;
  font-size: 30px;
}
